body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;         
}
ul{
    list-style-type: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    display: block;
}

img{
     display: block; 
}

address{
font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section{
padding-top: 120px;
    padding-bottom: 120px;
}


/* ------------------------------------------ */

/* ---------------------header--------------------- */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-logo, .footer-text {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        
}

.header-logo{
    margin-right: 76px;
}
.header-logo .accent{
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item{
    
}

.header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-menu-link:hover, .header-menu-link:focus, .header-contacts-link:hover, .header-contacts-link:focus {
    color: #404bbf;
}

.header-container{
    display: flex;
    align-items: center;
}

.current{
    color: #404bbf;
    
}

.current::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


.header-contacts {
}


.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-contacts-item {}

.header-contacts-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

/* ------------------------------------------ */

/* --------------hero---------------------------- */

.main-page {}

.hero {
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-wrap {

    
}



.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 58.45px;
    
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background-color: #4D5AE5;
        border-radius: 4px;
            padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.hero-btn:hover,
.hero-btn:focus{
background-color: #404bbf;
}

/* ------------------------------------------ */

/* ------------------features------------------------ */

.title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}

.subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.features {
    
}

.features-title {}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 24px * 3) / 4);
}

.features-item-wrap{
border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
}

.features-item-icon{
    
}

.features-subtitle {
    margin-bottom: 8px;
}

.features-item-text {}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

/* ------------------------------------------ */

/* -----------------team------------------------- */

.team {
    background-color: #f4f4fd;
    
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 24px * 3) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.team-image {
}

.team-item-wrap{
    padding: 32px 0;
}

.team-subtitle{
    margin-bottom: 8px;

}

.team-item-text{
}

.team-subtitle, .team-item-text {
    text-align: center;
}

.team-item-icon {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.team-icon-link{
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover, .team-icon-link:focus{
    background-color: #404bbf;
}

.team-icon-icon {
    width: 40px;
    height: 40px;
}

.team-icon {
    fill: #f4f4fd;
}

/* ------------------------------------------ */

/* -------------------portfolio---------------------- */

.portfolio {
    
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image {
    max-width: 100%;
}

.portfolio-subtitle {
    margin-bottom: 8px;

}

.portfolio-item-text {
  
}

.portfolio-item-wrap{
     border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}

.portfolio-cover-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px 32px;
    display: flex;
    justify-content: center;
    transform: translateY(100%);
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text{
    transform: translateY(0%);
}
/* ------------------------------------------ */

/* ----------------footer-------------------------- */

.footer {
    background-color: #2e2f42;
    padding: 100px 0
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-text-wrap{
    margin-right: 120px;
}

.footer-text {
    margin-bottom: 20.84px;
    display: block;
    display: inline-block;
    margin-bottom: 16px;
} 

.footer-text .accent{
    
    color: #f4f4fd;
}
.footer-title{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}

.footer-subtitle {
    color: #f4f4fd;
        line-height: 1.5;
        letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-soc{
    margin-right: 80px;
}

.footer-soc-title{

    margin-bottom: 16px;
}

.footer-soc-icons {
    display: flex;
    gap: 16px;

}

.footer-soc-icon {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover, .footer-icon-link:focus{
    background-color: #31d0aa;

}

.footer-icon {
    fill: #f4f4fd;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.modal-field {
    display: flex;
    flex-direction: column;
}

.footer-modal-label {
    margin-bottom: 16px;
}

.footer-modal-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color: transparent;
        padding: 8px 16px;
}

.footer-modal-btn{
    border-radius: 4px;
        padding: 8px 24px;
        width: 165px;
        height: 40px;
        background-color: #4d5ae5;

}

.footer-input-wrap{
    position: relative;
    align-self: flex-end;
}

.footer-field-icon{
    position: absolute;
    fill: #fff;
    top: 10px;
    right: 24px;
}


/* --------------modal----------------- */

.backdrop{
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal{
    width: 408px;
    height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    border-radius: 4px;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover{
    background-color: #404bbf;
    border-color: transparent;
}


.modal-close-btn:hover .modal-close-icon{
    fill: #fff;
}

.modal-title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 38px;
    
}

.modal-input:focus{
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-field-icon{
    stroke: #4d5ae5;
}

.modal-field-icon {
    position: absolute;
    stroke: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-text{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    resize: none;
}

textarea::placeholder{
    font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.modal-check{
    margin-top:16px ;
}

.check-text{
    font-size: 12px;
        line-height: 1.1;
        letter-spacing: 0.04em;
        color: #8e8f99;
    display: flex;
    align-items: center;
}

.check-text span{
    width: 16px;
    height: 16px;
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-check:checked+.check-text span{
    background-color: #404bbf;
    fill: #f4f4fd;
}

.modal-submit-btn{
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-color: transparent;
    
    margin: 0 auto;
    margin-top: 24px;
}

