body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;         
}
ul{
    list-style-type: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    display: block;
}

img{
     display: block; 
    max-width: 100%;
        height: auto;
}

address{
font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    width: 320px;
    /* width: 1158px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.section{
/* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}


/* ------------------------------------------ */

/* ---------------------header--------------------- */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-nav, .mob-menu-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-logo, .footer-text {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        
}

.header-logo{
    margin-right: 76px;
}
.header-logo .accent{
    color: #2e2f42;
}

.header-menu-list {
    display: none;  
    gap: 40px;
}

.header-menu-item{
    
}

.header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-menu-link:hover, .header-menu-link:focus, .header-contacts-link:hover, .header-contacts-link:focus {
    color: #404bbf;
}

.header-container{
    display: flex;
    align-items: center;
}

.current{
    color: #404bbf;
    
}

.current::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


.header-contacts {
}


.header-contacts-list {
    display: none;
    gap: 40px;
}

.header-contacts-item {}

.header-contacts-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.header-burger-open{
    margin: 16px;
}

.mob-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-menu-top {
    display: flex;
    flex-direction: column;

}

.mob-close-btn{
position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

.mob-close-icon{

}

.mob-menu-nav {
}



.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
}



/* .mob-menu-item:first-child {
    color: #404bbf;
} */

.mob-menu-bottom{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mob-contacts {}


.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-contacts-item {

}

.mob-contacts-link {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}
.mob-first {
    color: #404bbf;
}


.mob-soc {}

.mob-soc-icons {
    display: flex;
        gap: 40px;
        justify-content: center;
}

.mob-soc-icon {
}

.mob-icon-link {
}

.mob-icon {}

/* ------------------------------------------ */

/* --------------hero---------------------------- */

.main-page {}

.hero {
    /* padding: 188px 0; */
    padding: 72px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero-wrap{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-2x.jpg);
    }
}

.hero-wrap {

    
}



.hero-title {
    font-weight: 700;
    /* font-size: 56px; */
    font-size: 36px;
    /* line-height: 1.07; */
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 58.45px;

    
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background-color: #4D5AE5;
        border-radius: 4px;
            padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.hero-btn:hover,
.hero-btn:focus{
background-color: #404bbf;
}

/* ------------------------------------------ */

/* ------------------features------------------------ */

.title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}

.subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.features {
    
}

.features-title {}

.features-list {
    display: flex;
    /* gap: 24px; */
    gap: 72px;
    flex-wrap: wrap;
}

.features-item {
    /* width: calc((100% - 24px * 3) / 4); */
    width: 100%;
}

.features-item-wrap{
border: 1px solid #8e8f99;
    border-radius: 4px;

    background-color: #f4f4fd;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
}

.features-item-icon{
    
}

.features-subtitle {
    margin-bottom: 8px;
    
}

.features-item-text {
    font-weight: 500;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

/* ------------------------------------------ */

/* -----------------team------------------------- */

.team {
    background-color: #f4f4fd;
    
}

.team>.container{
    padding-left: 28px;
    padding-right: 28px;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    /* width: calc((100% - 24px * 3) / 4); */
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-image{}

.team-item-wrap{
    padding: 32px 16px;
   
}

.team-subtitle{
    margin-bottom: 8px;

}

.team-item-text{
    margin-bottom: 8px;
}

.team-subtitle, .team-item-text {
    text-align: center;
}

.team-item-icon {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.team-icon-link{
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover, .team-icon-link:focus{
    background-color: #404bbf;
}

.team-icon-icon {
    width: 40px;
    height: 40px;
}

.team-icon {
    fill: #f4f4fd;
}

/* ------------------------------------------ */

/* -------------------portfolio---------------------- */

.portfolio {
    
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    /* width: calc((100% - 24px * 2) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image {
    max-width: 100%;
    object-fit: cover;
}

.portfolio-subtitle {
    margin-bottom: 8px;

}

.portfolio-item-text {
  
}

.portfolio-item-wrap{
     border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}

.portfolio-cover-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px 32px;
    display: flex;
    justify-content: center;
    transform: translateY(100%);
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text{
    transform: translateY(0%);
}
/* ------------------------------------------ */

/* ----------------footer-------------------------- */

.footer {
    background-color: #2e2f42;
    /* padding: 96px 15px; */
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding: 100px 0; */
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* align-items: baseline; */
    gap: 72px;
    
}

.footer-info {
    display: flex;
    gap: 72px;
    margin: 0;
    flex-direction: column;
    
}

.footer-text-wrap{
    /* margin-right: 120px; */
    text-align: center;
    
}

.footer-text {
   
    display: block;
    margin-bottom: 16px;
    
} 

.footer-text .accent{
    
    color: #f4f4fd;
}
.footer-title{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}

.footer-subtitle {
    color: #f4f4fd;
        line-height: 1.5;
        letter-spacing: 0.02em;
    max-width: 264px;
    text-align: left;
}

.footer-soc{
    /* margin-right: 80px; */
    text-align: center;
}

.footer-soc-title{

    margin-bottom: 16px;
}

.footer-soc-icons {
    display: flex;
    gap: 16px;
    justify-content: center;

}

.footer-soc-icon, .mob-soc-icon {
    width: 40px;
    height: 40px;
}

.footer-icon-link, .mob-icon-link {
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover, .footer-icon-link:focus, 
.mob-icon-link:hover, .mob-icon-link:focus{
    background-color: #31d0aa;

}

.footer-icon, .mob-icon {
    fill: #f4f4fd;
}

.footer-form {
    text-align: center;
    gap: 24px;
}

.footer-form-input{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.footer-form-title {
    margin-bottom: 16px;
}

.footer-modal-input {
    border: 1px solid #ffffff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color: transparent;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;
}

.footer-modal-input::placeholder{
    color: #ffffff;
}

.footer-modal-btn{
    border-radius: 4px;
        padding: 8px 24px;
        max-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;


}

.footer-modal-btn:hover, .footer-modal-btn:focus{
    background-color: #404bbf;
}

.footer-field-icon{
    margin-left: 16px;
    fill: #fff;
}


/* --------------modal----------------- */

.backdrop{
    width: 100%;
    height: 100%;
    
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal{
    width: 288px;
    height: 623px;
    /* width: 408px;
    min-height: 584px; */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 71px 16px 16px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn{
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-icon, .mob-close-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover{
    border: none;
    background-color: #404bbf;
}

.modal-close-btn:focus{
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover > .modal-close-icon svg{
    fill: #ffffff;
}

.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-title {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 38px;
    
}

.modal-input:focus{
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-field-icon{
    fill: #4d5ae5;
}

.modal-field-icon {
    position: absolute;
    stroke: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-text{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    resize: none;
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus{
    border-color: #4D5AE5;
}
textarea::placeholder{
    
}

.modal-field-textarea{
    margin-bottom: 16px;
}

.modal-field-checkbox{
    margin-bottom: 24px;
}

.modal-check{
    
}

.check-text{
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    display: flex;
    align-items: center;
    
}

.privacy-text-wrap{
    display: flex;
    flex-direction: column;
}

.privacy-span{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    display: inline-flex;
        border: 1px solid rgba(46, 47, 66, 0.4);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .check-text span{
    display: inline-flex;
} */

.modal-check:checked + .check-text span{
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.privacy-link{
    color: #4d5ae5;
}

.modal-submit-btn{
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

/* ------adapt--------- */

@media screen and (min-width: 768px) {

    .mob-menu{
        opacity: 0;
            visibility: hidden;
            pointer-events: none;
    }

    .header-menu-list {
            display: flex;
        }
    
        .header-burger-open{
            display: none;
        }
    
        .header-contacts-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

    .header-contacts-link{
        font-size: 12px;
        line-height: 1.17;
    }

    .container{
        width: 768px;
    }

    .hero{
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }

        @media screen and (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .hero-wrap {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
            }
        }
    
    
    .hero-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .features-list{
        gap: 72px 24px;
    }

    .features-item{
        width: calc((100% - 24px ) / 2);
    }

    .features-subtitle{
        text-align: left;
    }

    .team > .container, .footer-container{
        /* width: 520px; */
        padding-left: 108px;
        padding-right: 108px;
    }

    .team-list{
        gap: 64px 24px;
    }

    .team-item{
        width: calc((100% - 24px) / 2);
    }

   

    .portfolio-list{
        gap: 72px 24px;
    }

    .portfolio-item{
        width: calc((100% - 24px) / 2);
    }

    .footer-container{
        flex-wrap: wrap;
        align-items: normal;
    }

    .footer-info{
        gap: 24px;
        flex-direction: row;

    }

        .footer-text-wrap {
           display: inline;
            text-align: left;
            
        }
    
    .footer-text{
        max-width: 115px;
    }
    
    .footer-soc{
        text-align: left;
        display: inline;
    }

    .footer-form-input {
        flex-direction: row;
        justify-content: flex-start;
    }

        .footer-form {
            text-align: left;
        }

    .modal{
        width: 408px;
        height: 584px;
        padding: 70px 24px 24px;
    }

    .privacy-text-wrap{
        display: block;
    }

    

    
}

@media screen and (min-width: 1158px) {

    .header-contacts-link{
        font-size: 16px;
            line-height: 1.5;
    }

    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .header-contacts-list{
        flex-direction: row;
            gap: 40px;
    }

    .hero{
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    }

        @media screen and (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .hero-wrap {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x.jpg);
            }
        }

    

    .features-list {
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .features-item-wrap{
        display: flex;
    }

    .features-subtitle {
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            
    }

    .team-list{
        gap: 24px;
    }

    .team-item{
        width: calc((100% - 24px * 3) / 4);
    }

    .team .container{
      padding-left: 15px;
      padding-right: 15px;  
    }


    .team-item-wrap{
        padding: 32px 0;
    }

    .portfolio-list{
        gap: 48px 24px;
    }


    .portfolio-item{
        width: calc((100% - 24px * 2) / 3);
    }
    
    .portfolio-image{
        object-fit: fill;
    }


    .footer-info{
        gap: 0;
    }

    .footer-container{
        align-items: baseline;
        flex-direction: row;
        gap: 0;
        flex-wrap: nowrap;
        padding: 0;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-text-wrap{
        margin-right: 120px;
    
    }

        .footer-text {
            min-width: 264px;
        }

    .footer-soc{
        margin-right: 80px;
    }

    .footer-form-input{

        justify-content: flex-start;

    }

    .modal{
        padding: 72px 24px 24px;
    }
   

    

    
}

