body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
            
}
ul{
    list-style-type: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img{
     display: block; 
}

address{
font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section{
padding-top: 120px;
    padding-bottom: 120px;
}


/* ------------------------------------------ */

/* ---------------------header--------------------- */
.header {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    
}

.header-logo, .footer-text {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        
}

.header-logo{
    margin-right: 76px;
}
.header-logo .accent{
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

}
.header-menu-item:hover, .header-menu-item:focus, .header-contacts-link:hover, .header-contacts-link:focus {
    color: #404bbf;
}

.header-container{
    display: flex;
}

.header-contacts {
}

.contacts {}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-contacts-item {}

.header-contacts-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            font-style: normal;
        
}

/* ------------------------------------------ */

/* --------------hero---------------------------- */

.main-page {}

.hero {
    
    background-color: #2e2f42;
    
}

.hero-wrap{
    
    padding: 194.43px 475.06px 188px 476.57px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 488.37px;
    margin: 0 auto;
    margin-bottom: 58.45px;
    
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background-color: #4D5AE5;
        border-radius: 4px;
            padding: 16px 32px;
        
}
.hero-btn:hover,
.hero-btn:focus{
background-color: #404bbf;
}

/* ------------------------------------------ */

/* ------------------features------------------------ */

.title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}

.subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.features {
    
}

.features-title {}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 24px * 3) / 4);
}

.features-subtitle {
    margin-bottom: 8px;
}

.features-item-text {}



/* ------------------------------------------ */

/* -----------------team------------------------- */

.team {
    background-color: #f4f4fd;
    
}

.team-title {
    margin-bottom: 79.65px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
       
}

.team-image {
    margin-bottom: 32px;
}

.team-subtitle{
    margin-bottom: 8px;

}

.team-item-text{
    max-width: 128px;
    margin: 0 auto;
    padding: 0px 0px 32px 0px;
}

.team-subtitle, .team-item-text {
    text-align: center;
}


/* ------------------------------------------ */

/* -------------------portfolio---------------------- */

.portfolio {
    
}

.portfolio-title {
    margin-bottom: 79.65px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
}

.portfolio-image {
    max-width: 100%;
}

.portfolio-subtitle {
    margin-bottom: 8px;

}

.portfolio-item-text {
  
}

.portfolio-item-wrap{
     border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}

/* ------------------------------------------ */

/* ----------------footer-------------------------- */

.footer {
    background-color: #2e2f42;
    padding: 100px 1024.36px 103.66px 156px;
}

.footer-text {
    margin-bottom: 20.84px;
    display: block;
} 

.footer-text .accent{
    
    color: #f4f4fd;
}

.footer-subtitle {
    color: #f4f4fd;
        line-height: 1.5;
        letter-spacing: 0.02em;
    max-width: 258.9px
}